<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527911399504-h1sbev12lsnrn9p0tqp68ci1cgbmsrns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527911399504-h1sbev12lsnrn9p0tqp68ci1cgbmsrns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>527911399504-tgfsig40ikdfalkid78op7tdo86cvr1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxZjOcDD4MZNpxehwCzuvyb3xzGs4ADS0</string>
	<key>GCM_SENDER_ID</key>
	<string>527911399504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webile.afritia</string>
	<key>PROJECT_ID</key>
	<string>afritia-dc30f</string>
	<key>STORAGE_BUCKET</key>
	<string>afritia-dc30f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527911399504:ios:494e95d079700919222155</string>
	<key>DATABASE_URL</key>
	<string>https://afritia-dc30f.firebaseio.com</string>
</dict>
</plist>